/* variables */
:root {
    /* colors and backgrounds */
    --l-wrap-background: rgb(73, 143, 217);

    /* margin and paddings */
    /* l-wrap */
    --body-margin: 20px;
    --l-wrap-width: 95%;
    --grid-gap: 10px;
}

/* reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-size: 1rem;
}

/* body */
body {
    margin: var(--body-margin);
}

/* 
    layout wrap is a container that determines 
    the maximum width of the grid. works as a big
    wraper.
*/
.l-wrap {
    max-width: var(--l-wrap-width);

    margin-right: auto;
    margin-left: auto;

    background-color: var(--l-wrap-background);
}

/*
    create grid classes and grid items inside them
    to hold items in a row.
*/
.four-col-grid .grid-item {
    width: calc(100% / 4);
    float: left;
}

.three-col-grid .grid-item {
    width: calc(100% / 3);
    float: left;
}

.two-col-grid .grid-item {
    width: calc(100% / 2);
    float: left;
}

/*
    whenever all children elements are floated in a container, 
    the containers height collapses. 
    this phenomenon is called the float collapse. 
    to fix this, what we need is a clearfix.
*/
.four-col-grid:after, .three-col-grid:after, .two-col-grid:after {
    display: table;
    clear: both;
    content: '';
}

/* each row item is a box */
.box {
    background-color: rgb(99, 255, 47);
}