/* variables */
:root {
    /* colors and backgrounds */
    --l-wrap-background: rgb(73, 143, 217);

    /* margin and paddings */
    /* l-wrap */
    --body-margin: 20px;

    --l-wrap-width: 95%;
    --l-wrap-padding: 20px;
    --l-wrap-margin: 20px;

    --grid-column-gap: 50px;
}

/* reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-size: 1rem;
}

/* body */
body {
    margin: var(--body-margin);
}

/* 
    layout wrap is a container that determines 
    the maximum width of the grid. works as a big
    wraper.
*/
.l-wrap {
    max-width: var(--l-wrap-width);
    margin: var(--l-wrap-margin) auto;
    padding: var(--l-wrap-padding);

    background-color: var(--l-wrap-background);
}

/*
    create grid classes and grid items inside them
    to hold items in a row.
*/
.grid-item {
    margin-right: var(--grid-column-gap);
    float: left;

    background-color: rgb(99, 255, 47);
}

.grid-item:last-child {
    margin-right: 0;
}

.four-col-grid .grid-item {
    width: calc((100% - var(--grid-column-gap)*3) / 4);
}

.three-col-grid .grid-item {
    width: calc((100% - var(--grid-column-gap)*2) / 3);
}

.two-col-grid .grid-item {
    width: calc((100% - var(--grid-column-gap)) / 2);
}

/*
    whenever all children elements are floated in a container, 
    the containers height collapses. 
    this phenomenon is called the float collapse. 
    to fix this, what we need is a clearfix.
*/
.four-col-grid:after, .three-col-grid:after, .two-col-grid:after {
    display: table;
    clear: both;
    content: '';
}

/*
    header component which has a background and
    animated text on it, with a button to go to shoping section.
*/
.header {
    color: #fff;
    border: 10px solid #fff;

    background-image: url('./assets/image/Header.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.8;

    padding-top: 150px;

    height: 600px;
}

.header-text {
    width: auto;

    text-align: center;
    white-space: nowrap;
    overflow: hidden;

    animation-name: slide-text;
    animation-duration: 2s;

    letter-spacing: 10px;
}

.big-title {
    font-size: 3rem;
    letter-spacing: 25px;
    line-height: 80px;

    margin-bottom: 20px;
}

/* 
    the animation code for moving text from left to center.
*/
@keyframes slide-text {
    from {
        max-width: 0%;
    }
    to {
        max-width: 100%;
    }
}